@font-face {
    font-family: 'caveat';
    src: url("../font/Caveat-Regular.ttf");
}
html,body{
  margin: 0;
  padding: 0;
  font-family:'caveat';
}
*{
  text-align: center;
}
h1{
  font-size:5rem;
}
h2{
    font-size:3rem;
}
.click-btn{
  font-size: 2rem;
  border-radius: 25px;
  background-color: lightslategray;
  margin: auto;
  width: 20vw;
  color: aliceblue;
  cursor: pointer;
}
.nav{
  position: absolute;
  width: 100%;
  top:0;
  height:60px;
  z-index: 2;
  background-color:rgba(46, 44, 44,1);
  color: white;
}
.nav div{
  cursor: pointer;
}
.nav table{
  margin: 20px 0;
}
.nav-icon{
    width:20px;
}
.nav-container{
  font-size: 20px;
  display: inline-block;
}

.footer{
  padding: 20px;
  height: 50px;
  color: white ;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}

.header{
    height: 100px;
    opacity: 0;
    z-index: 99;

    transition: all 2s;
    -ms-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
}
.header-active{
  opacity: 1;
  z-index: 99;

  transition: all 2s;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
}
.home-anim{
  position: absolute;
  width:25vw;
  bottom:0;
  left:-50vw;

  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.home-anim-active{
  left:70vw;

  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.human-anim{
  position: absolute;
  width:5vw;
  right:0;
  bottom:0;

  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.human-anim-active{
  right:20vw;

  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.paper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
}
.paper-anim{
  width:52vw;
  height: 52vh;
}
.intro-content{
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 1.5rem;
}
.about_me{
  height: 450px;
}
.ppl{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
}
.chat-box{
  overflow: hidden;
  position: absolute;
  height: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  
  background-color: white;
  width:20vw;
  bottom:125px;
  border-radius: 25px;
  font-size: 1.5rem;

  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.chat-box-active{
  width:400px;
  height: 150px;
  transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.edu-container{
  padding: 0;
  margin: auto;
  display: grid;
  background-color: white;
  width:80vw;
  height: 20vh;
  grid-template-columns: 20vw 40vw 20vw;
  border-radius: 25px;
  border: 5px solid red;
}
.edu-container div{
  margin: auto;
  font-size: 2rem;
  font-weight: bolder;
}
.edu-container div img{
  width:15vw;
  height: 15vh;
}
.prof{
  height: 70vh;
  overflow-y: scroll;
}
.prof::-webkit-scrollbar{
  display: none;
  width:0;
}
